* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

body {
	height : 978px;
	overflow: auto;
}

.header {
	font-color: white;
	font-family: serif;
	background: white;
	display: inline-block;
	width: 1346px;
	height: 600px;
	padding:0px;
	background-image: url('assets/images/header-bg@2x.png');
	background-size: 1346px 600px;

}

h3  {
	color: white;
	font-family: sans-serif;
	display: inline-block;
	margin: 10px; 
	width: 200px;
	margin-left: 60px;
	display:inline-block;
	vertical-align: top;
}

.nav {
	width: 450px;
	vertical-align: top;
	display: inline-block;
	list-style: none;
	float: right;
	margin-top: 5px;

}

.nav ul li {
	display: inline-block;
	list-style: none;
	padding-right: 40px;
}

.nav ul  {
	display: inline-block;
	margin-top: 5px;
}

.nav ul a {
	display: inline-block;
	width: 100px;
	text-decoration: none;
	font-family: sans-serif;
	color: white;
}


h3 {
	padding-left: 60px;
}


.descrPlusButtons {
	
	margin-top:60px;
	margin-left: 60px;
	width: 500px;
	height: 200px;
}
.descrPlusButtons button {
	margin: 10px;
	margin-left: 5px;
	height: 50px;
	width: 150px;
	border-radius: 50px;
}

#first  {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:40px;
	font-weight: bold;
}

#second {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:20px;
	font-weight:lighter;
}

.red {
	margin-right: 25px;
	background-color: red;
	font-weight: bold;
	font-size: 15px;
	color: white;
}

.blue {
	margin-left: 25px;
	background-color: blue;
	font-weight: bold;
	font-size: 15px;
	color: white;
}

.header img {
	margin-top:60px;
	width: 500px;
	height: 400px;
	float: right;
	margin-right: 60px;
	vertical-align: top;
	padding-top: 
}

.smartPricing {
	display: inline-block;
}
