* {
  margin: 0;
  padding: 0;
  border: 0.5px solid red;
}

body {
	font-family: "Helvetica", sans-serif;

}

.logoplusnav {
	display: inline-block;
}

.nav ul  {
	display: inline-block;
}

.nav ul a {
	display: inline-block;
	width: 100px;
	text-decoration: none;
	font-family: sans-serif;
	color: white;
}

.descrPlusButtons  {
	width: 49%;
	height: 
}

.phoneImg img {
	width: 753px;
	height: 419px;
}

.container {
	/*margin: 10px;*/
	width: 1400px;

}

.header {
	overflow: hidden;
	width: 1400px;
	height: 600px;
	background-image: url('../assets/images/header-bg@2x.png');
	display: inline-block;

}

.header h3 , .footer h3 {
	width: 106px;
	height: 30px;
}

.changeTheway {
	display: inline-block;
}
.target {
	width: 166px;
}

.target img {
	width: 40px;
	height: 40px;
}

.performances  {
	width: 178px;
}

.performances img {
	width: 23px;
	height: 43px;
}

.stats img {
	width: 51px;
	height: 38px;
}
.stats {
	width: 184px;
}

.smartPricing {
	width: 1108px;
	height: 516px;
}

.getInTouch {
	width: 941px;
	height: 480px;
}

.footer {
	width: 1400px;
	display: inline-block;
	height: 167px;
}

.footernav { 
	width: 533px;
	display: inline-block;
	height: 18px;
}

.footernav li {

}

.socialMedia img {
	width: 52px;
	height: 52px;
}

/*
.footer ul {
	margin: 75px 0px;
}

.footer li {
	margin-right: 230px;
}

.footer li: first-child {
	margin-left: 230px;
}

.footer li: last-child {
	margin-right: 210px;
}*?

.socialMedia img {
	width: 52px;
	height: 52px;
}


/*
.changeTheWay  {
	width: 1063px;
	text-align: center;
	height: 286px;
}

.smartPricing {
	width: 1108px;
	height: 516px;
}

/*
.header {
	font-color: white;
	font-family: serif;
	background: white;
	display: inline-block;
	width: 1346px;
	height: 600px;
	padding:0px;
	background-image: url('assets/images/header-bg@2x.png');
	background-size: 1346px 600px;

}

h3  {
	color: white;
	font-family: sans-serif;
	display: inline-block;
	margin: 10px; 
	width: 200px;
	margin-left: 60px;
	display:inline-block;
	vertical-align: top;
}

.nav {
	width: 450px;
	vertical-align: top;
	display: inline-block;
	list-style: none;
	float: right;
	margin-top: 5px;

}

.nav ul li {
	display: inline-block;
	list-style: none;
	padding-right: 40px;
}

.nav ul  {
	display: inline-block;
	margin-top: 5px;
}

.nav ul a {
	display: inline-block;
	width: 100px;
	text-decoration: none;
	font-family: sans-serif;
	color: white;
}


h3 {
	padding-left: 60px;
}


.descrPlusButtons {
	
	margin-top:60px;
	margin-left: 60px;
	width: 500px;
	height: 200px;
	width: 49%;
}
.descrPlusButtons button {
	margin: 10px;
	margin-left: 5px;
	height: 50px;
	width: 150px;
	border-radius: 50px;
}

.phoneImg {
	display: inline-block;
	width: 49%;
}

#first  {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:40px;
	font-weight: bold;
}

#second {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:20px;
	font-weight:lighter;
}

.red {
	margin-right: 25px;
	background-color: red;
	font-weight: bold;
	font-size: 15px;
	color: white;
}

.blue {
	margin-left: 25px;
	background-color: blue;
	font-weight: bold;
	font-size: 15px;
	color: white;
}

.header img {
	margin-top:60px;
	width: 500px;
	height: 400px;
	float: right;
	margin-right: 60px;
	vertical-align: top;
	padding-top: 
}

.smartPricing, .smartPricing {
	display: inline;
	text-align: center;
}


*/