body{
  width: 1400px;
  height:2571px;
  border:2px solid red;
  background-color: white;
}

.header{
border:2px solid blue;
color:black;
height:600px;
width:1400px;
background-image: url('C:/Users/heave/Repo/fga/projects/assesment/fga-prework-assessment/assets/images/Headerbg.jpg');
background-size: contain;
}
nav{
  text-align:right;
}
nav ul{
position: relative;
top:50px;
right: 10px;
display: inline-block;
width: 20%
}
nav li{
display:inline;
margin:10px 10px 0px 0px;
}
nav a{
  color:white;
  text-decoration: none;
  font-size:15px;
  text-align:right;
  padding: 10px 10px;
  font-family: Helvetica;
  position: relative;
  right:60px;
}
.logo h3{
  color:white;
  position: relative;
  left:50px;
  bottom:40px;
  display:inline-block;
  font-size: 27px;
  font-family: Helvetica Neue;
}
.phone img{
  width:753px;
  height:419px;
  position:relative;
  left:650px;
  top:50px;
}
.message h3{
  color: white;
  font-size: 50px;
  font-family: Helvetica;
  width: 545px;
  height: 114px;
  position: relative;
  bottom: 440px;
  left:50px;
}
.message h6{
  color: white;
  font-size: 18px;
  font-family: Helvetica;
  width: 350px;
  height: 30px;
  position: relative;
  bottom: 410px;
  left:50px;
}
input.now {
width: 160px;
height: 55px;
padding: 20px;
cursor: pointer;
font-weight: bold;
font-size:18px;
background:#D84B4B;
color: #fff;
border: 1px solid #3366cc;
border-radius: 50px;
-moz-box-shadow:: 6px 6px 5px #999;
-webkit-box-shadow:: 6px 6px 5px #999;
box-shadow:: 6px 6px 5px #999;
position: relative;
bottom:420px;
left:50px;
}
input.demo {
width:160px;
height: 55px;
padding: 20px;
cursor: pointer;
font-weight: bold;
font-size:18px;
background:#6A8BD6;
color: #fff;
border: 1px solid #3366cc;
border-radius: 50px;
-moz-box-shadow:: 6px 6px 5px #999;
-webkit-box-shadow:: 6px 6px 5px #999;
box-shadow:: 6px 6px 5px #999;
position: relative;
bottom:420px;
left:70px;
}
/*The code above is for my header only---------*/

.shop{
  width: 1063px;
  height: 286px;
  position: relative;
  left:160px;
  top:30px;
  border:1px solid pink;
}
.shop h2{
  width: 500px;
  height: 100px;
  font-size:40px;
  font-family:Helvetica;
  color:#34373E;
  text-align:center;
  position: relative;
  left:290px;
  bottom: 30px;
}
.shop h5{
  width: 300px;
  height: 20px;
  font-size:18px;
  font-family:Helvetica;
  color:#6C7280;
  text-align:center;
  position: relative;
  left:380px;
  bottom: 100px;
}
.target img{
  width:41px;
  height: 41px;
  position: relative;
  bottom: 100px;
  left:70px;
}

.target h3{
  width: 200px;
  height: 22px;
  font-size:20px;
  font-family:Helvetica;
  color:#34373E;
  position: relative;
  bottom:120px;
  left:10px;
}
.target p{
  width: 166px;
  height: 63px;
  font-size:16px;
  font-family:Helvetica;
  color:#34373E;
  position: relative;
  bottom:135px;
  left:10px;
}
.great img{
  width:41px;
  height: 41px;
  position: relative;
  bottom: 275px;
  left:500px;
}

.great h3{
  width: 200px;
  height: 22px;
  font-size:20px;
  font-family:Helvetica;
  color:#34373E;
  position: relative;
  bottom:295px;
  left:450px;
}
.great p{
  width: 166px;
  height: 63px;
  font-size:16px;
  font-family:Helvetica;
  color:#34373E;
  position: relative;
  bottom:310px;
  left:450px;
}
.stats img{
  width:41px;
  height: 41px;
  position: relative;
  bottom: 450px;
  left:950px;
}

.stats h3{
  width: 200px;
  height: 22px;
  font-size:20px;
  font-family:Helvetica;
  color:#34373E;
  position: relative;
  bottom:470px;
  left:905px;
}
.stats p{
  width: 166px;
  height: 63px;
  font-size:16px;
  font-family:Helvetica;
  color:#34373E;
  position: relative;
  bottom:490px;
  left:905px;
}
hr{
  position: relative;
  top:40px;
}
/*The code above is for the second section of page only---------*/
.price{
  width:1108px;
  height:516px;
  border: 5px solid yellow;
  position: relative;
  top:100px;
  left:150px;
}
.price h2{
  width: 450px;
  height: 44px;
  font-size: 40px;
  font-family: Helvetica;
  color:#34373E;
  text-align: center;
  position: relative;
  left:290px;
}
.price h4{
  width:210px;
  height:20px;
  font-size:18px;
  color:#34373E;
  position:relative;
  font-family: Helvetica;
  left:450px;
}
.b{
  width:1108px;
  height: 518px;
  border:1px solid red;
  display: inline;
  padding: 60px;
  position: relative;
  left:300px;
  top:150px;
}
/*The code above is for the third section of page only---------*/
.contact{
  width:941px;
  height: 480px;
  border:5px solid red;
  position: relative;
  top:200px;
  left: 200px;
}
.contact h1{
  width:390px;
  height: 44px;
  font-size: 40px;
  color:#34373E;
  font-family: Helvetica;
}
.contact h5{
  width:250px;
  height: 20px;
  font-size: 18px;
  color:#34373E;
  font-family: Helvetica
}
.contact p{
  width: 364px;
  height: 156px;
  font-size: 15px;
  color:#34373E;
  font-family: Helvetica
}

/*The code above is for the fourth section of page only---------*/
.footer{
  width: 1400px;
  height: 167px;
  background-color:#D84B4B;
  position: relative;
  top: 480px;
}
.footer nav{
  text-align:right;
}
.footer nav ul{
  position: relative;
  top:50px;
  width: 400px;
}
.footer nav li{
  display:inline;
  margin:5px 5px 5px 5px;
}
.footer nav a{
  color:white;
  text-decoration:none;
  font-size:16px;
  text-align:right;
  padding: 5px 5px;
  font-family: Helvetica;
  position: relative;
  right:370px;
}
.logof h3{
  color:white;
  position: relative;
  left:50px;
  bottom:40px;
  font-size: 27px;
  font-family: Helvetica;
}

.media ul{
  width: 200px;
  position: relative;
  left:1150px;
  bottom:100px;
}
.media li{
  display: inline;
  margin:10px;

}
