
/* header */
.header_nav {
	font-color: white;
	vertical-align: top;
}
.container {
	width:90%px;
	margin: 30px 20px 0px 30px;
}
.nav ul{
  list-style:none;
  float:right;
}
.nav li{
  display:inline-block;
  padding: 15px;
  border-right:1px solid black;
  vertical-align: top;
}
.nav li:last-child {
  border-right: 0px;
 }
 h1 {

 }
.phone {
	width:400px;
	height: 200px;
	vertical-align: top;
}
.header-bg2x {
	position:relative;
	width: 80%;
}
/* Change the way you shop */
#shop_details tr {
	list-style:none;
	display: inline-block;
	padding-left:200px;
	padding-top:200px;
}
#shop_details th {
	list-style:none;
	display: inline-block;
	list-style: none;
}
#shop_details img {
	display: inline-block;
	list-style: none;
	margin-right: ;
	float:center;
}
#shop_details p {
	text-align:center;
	float:center;
}
.stats {
	display: inline;
}
floating-box {
    display: inline;
    width: 150px;
    height: 300px;
    margin: 10px;
    border: .5px solid #C8C8C8;  
}
.after-box {
}/*
.footer {
   bottom:0;
   width:100%;
   height:60px;   
   background: #FF0000; 
}*/

