*{
	border: 1px solid red;
}


body {
	background-color: white;
	font-family: Helvetica;
}

.container {
	width: 1400px;
	margin: 0px auto;
	text-align: center;
}
/* Top Navigation*/
.topnav {
	width: 100%;
    color: white;
    background-color: blue;
    background: url("assets/images/header.png");
   	background-size: 100% 100%;
    background-repeat: no-repeat;
}
.hornav {
	margin-bottom:50px;
}
.hornav h4 {  
	display: inline-block;
	width: 60%;
	text-align: left;
}
.hornav ul {
	color: white;
	letter-spacing: 2px;
	display: inline-block;
	list-style:none;
	text-decoration: none;
	width:35%;
}
.hornav li {
	display: inline-block;
}
.hornav a {
	color:white;
	text-decoration: none;
	padding:20px;
}

/* Tag Line*/
.info{
	display:inline-block;
	width:37%;
	vertical-align: top;
}

.mobilepic{
	display:inline-block;
}
.mobilepic img{
	width:753px;
	float:right;
}
}
.tagline h1 {
	margin: 20px;
}

.button {
background-color: #D84B4B; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 25px;
}
.info .button:last-child{
	background-color: #6A8BD6; 
}

/*Benefits*/
.changes {
	width:100%;
	margin:0px auto;
}
.benefits img {
	width:30px;
}
.benefits {
	display:inline-block;
	width:32%;
	margin:0px auto;
}
/*Pricing*/
.structure {
	width:100%;
	margin:0px auto;
}
.pricing {
	display:inline-block;
	width:22%;
	border: 1px solid #95989A;
	margin-left: 30px;
}
.pricing h3 {
	background-color: #F7F7F7;
	padding: 30px;
	margin: 0px;
}
.pricing ul
{
	list-style: none;
	margin:0px auto;
	padding:10px;
}
.pricing li{
	text-align: center;
	margin:0px auto;
	padding:10px;
}

.pricing h3:hover{
	border:none;
	background-color:#6A8BD6;
}


/*Customize Buy Now Buttons in Pricing Structure*/
/*Contact*/
#contact {
	margin-top: 80px;
	width: 100%;
}
#contact-text {
	display: inline-block;
    width: 40%;
    vertical-align: top;
    padding:100px;
    
}

form {
	display: inline-block;
	width: 410px;
	height: 480px;
	border: 1px solid #DDDDDD;
	background-color: #FAFAFA; 
	padding-top:20px;
	margin-bottom: 100px;
	margin-top:20px;
}

input[type=text] {
    display: block;
    width: 330px;
    height: 60px;
    margin: 20px auto;
}

input[type=textarea] {
    display: block;
    width: 330px;
    height: 160px;
    margin: 20px auto;
}

button[type=submit] {
    display: block;
    width: 330px;
    height: 60px;
    margin: 20px auto;
    background-color: #6A8BD6;
    color: #FFFFFF;
}

/*Footer*/
.footer {
    width: 100%;
    height:120px;
    background-color: #D84B4B;
    color: white;
  }

  .bottomlogo {
	display:inline-block;
	width:10%;
	vertical-align: top;
  }

  .footernav {
  	display:inline-block;
  	width:60%;
  	vertical-align: top;
  }

  .footernav ul {
	color: white;
	letter-spacing: 2px;
	display: inline-block;
	list-style:none;
	float: right;
	text-decoration: none;
}

.footernav li {
  display: inline-block;
}

.footernav a {
	color:white;
	text-decoration: none;
	padding:20px;
}

 .social {
  display:inline-block;
  width:20%;
  }

 .social ul {
	display: inline-block;
	list-style:none;
	float: right;
	letter-spacing: 2px;
}
.social li {
  	display: inline-block;
}
 .social img {
  	width:52px;
  margin: 10px;
}



