* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}





#row1 {
	background: blue;
	float: right;
	border-color: pink;
}

#row2 {
	background: red;


}

#row3 {
	background: pink;



}

#row4 {
	background: purple;



}

#row5 {
	background: green;



}