* {
  margin: 0px;
  padding: 0px;
  }
  body {
    font-family: "Helvetica", sans-serif;
  }
  #container{
    width:1400px;
    margin: 0 auto;
  }
#top{
  background-image: url('../assets/images/Headerbg.png');
  background-repeat: no-repeat;
  background-size:100% 100%;
}

.logo{
  font-size: 27px;
  font-family: Helvetica;
  color: white;
  text-align: left;
}
#top span.logo{
  display: inline-block;
  width:55%;
}
nav{
  padding-top: 50px;
  padding-left: 103px;
  margin-bottom: 50px;
}
nav ul{
  display: inline-block;
  width:33%;

}
nav li{
display:inline-block;
margin-right:40px;
}
nav li:last-child{
  margin-right: 0px;
}
nav a{
  color:white;
  text-decoration: none;
  font-size:15px;
  text-align:right;
  font-family: Helvetica;

}
.subheader{
  display: inline-block;
  width: 45%;
  vertical-align: top;
  padding-left: 32px;
  margin-bottom: 29px;
}

.subheader img{
  width: 100%;

}
.subheader h1{
  font-size:50px; 
  color: white;
  text-align: center;

}
.subheader h4{
 font-size: 18px;
 color: white;
 text-align: center;

}
input.button{
width: 160px;
height: 55px;
padding: 20px;
cursor: pointer;
font-weight: bold;
font-size:18px;
background:#D84B4B;
color: #fff;
border: 1px solid #3366cc;
border-radius: 50px;
}

#top input.button:first-child{
  margin-left: 100px;
  margin-top: 29px;
}

#top input.button:last-child {
background:#6A8BD6;
margin-left: 40px;
}
#phone{
}
.texts h1{
padding-top: 28px;
text-align: center;
color: #34373E;
font-size:40px;
}
.texts h3{
padding-top: 16px;
text-align: center;
color:#6C7280;
font-size:18px;
margin-bottom:51px;

}
.salespitch{
  width:1063px;
  height:286px;
  margin-left:173px;
  margin-bottom: 190px;

}
.pitch{
  display: inline-block;
  width: 32%;
  height: 158px;

}
.pitch img{
  width: 40px;
  height: 40px;
  margin-left: 176px;
}
.pitch h5{
  font-size: 20px;
  font-weight: bold;
  color:#34373E;
  margin-left: 120px;
}
.pitch p{
  font-size: 16px;
  color:#6C7280;
  width: 166px;
  height: 33px;
  text-align: center;
  margin-left: 120px;
}
hr{
  border-top: 1px dashed #B5B5B5;
    margin-left: 100px;
}
.pricingad{
  margin-left: 173px;
  width: 1110px;
  height: 516px;
}
.price{
  border: 2px solid #F7F7F7;
  display: inline-block;
  width: 23%;
  height: 360px;
  text-align: center;
  
}
.price h5{
font-size: 40px;
}
.price h6{
background-color: #F7F7F7;
font-size: 14px;
height: 34px;
padding-top: 20px;


}
.price button{
background-color: red;
font-size: 15px;
border-radius: 40px;
height: 30px;
width: 100px;
margin-top:20px;
margin-bottom:20px;
}
.price ul{

list-style: none;
}
.price li{
  line-height: 15px;
  margin-top:20px;
  margin-bottom:20px;
}
.contact{
  margin-top: 200px;
  width:1000px;
  margin-bottom: 100px;
  margin-left: 280px;
}
.greet{
  display: inline-block;
  width:65%;
  

}
.greet h1{
font-size: 40px;
color: #34373E;
vertical-align: top: 
padding-bottom:20px;
padding-top:20px;

}
.greet h5{
padding-bottom:20px;
padding-top:20px;

}
.greet p{
line-height: 30px;
padding-bottom:20px;
padding-top:20px;

}
.form{
  background-color: #FAFAFA;
  display: inline-block;
  width: 35%;
}
.red{
  color:white;
  background-color: #D84B4B;
}

.input{
width:330px; 
height:60px; 
margin:20px;
}
.input [type=submit]{
background: #6A8BD6;
}
.textarea [name=message]{
  margin-left: 140px;
  width:330px ;
  height: 160px;
}

  #footer {
    height: 167px;
  }
                #footer ul {
                    display: inline-block; 
                }
                #footer li {
                    display: inline;
                    margin-right: 85px;
                }
                #footer li {
                }
                #footer li:first-child {
                    margin-left: 230px;
                }
                #footer li:last-child {
                    margin-right: 210px;
                }
                #footer img{
                  width:100px;
                  height: 100px;
                }
                }